*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 10px;
}

h2
{
    line-height: 60px;
}

.box{
    height: 350px;
    width: 850px;
    background-color: #ccc;
    margin: 15px 0 15px 0;
    border-top: rgb(194, 190, 190) solid 2px;
    border-left: rgb(194, 190, 190) solid 2px;
    border-right: rgb(165, 162, 162) solid 2px;
    border-bottom: rgb(165, 162, 162) solid 2px;
}

p{
    background-color: #fff; 
    height: auto;
    width: 850px;
}

.readmore >a{
    text-decoration: none;
    color: #000;
    margin-top: 90px;
}

.readmore #readm-btn:hover{
    background-color: tomato;
}

.readmore{
    position: relative;
}


#readm-btn{
    height: 40px;
    width: 90px;
    display: inline-block; 
    background-color:rgb(144, 228, 228);
    margin-top: 15px;
    text-align: center;
    padding-top:10px;
    font-family:sans-serif;
    font-size: 11px;
    border-bottom: #000 2px solid;
    border-right: #000 2px solid;
    border-left: rgb(116, 113, 113) 2px solid;
    border-top: rgb(116, 113, 113) 2px solid; 
}

#next-p:target{
    display: block;
}


#next-p{
    display: none;
    position: absolute;
    top: 10px;
}


